* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  .banner_row{
    display: flex;
    position: relative;
   text-align: center;
    color: #fff;
    justify-content: center;
    background: black;
  }
  .bannerTxt{
    margin-top:300px;
    position: absolute;
    font-size: 48px;
    text-align: center;
  }
  .banner_row img{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    height: 863px;
    width: 100%;
    opacity: 0.3;

  }
  h1{
    font-size: 80px;
  }
  h3{
    font-size: 30px;
    color:rgb(191, 187, 187) ;
  }
  span{
    font-size:35px;
    color:white;
  }


  .tagSocial{
    display: flex;
    margin-left: 500px;
  }
.social a{
  display: flex;
  justify-content: center; 
align-items: center;
}

.social{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;

  }
img.img {
  width: 50%;
 opacity: 0.9;
   height: 300px;
   padding-bottom: 200px;

 }
