.resume_container{
    margin-top: 80px; 
    text-align: center;
}
h1{
font-size: 40px;
margin-left: 200px;
}

.container_education{
    display: flex;
    justify-content: space-between;
}
.container_work{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.description{
margin-right: 50%;
}
.line {
    border: solid 1px;
    border-color: rgb(255, 226, 216);
    border-left: none;
    border-right: none;
    width: 60vw;
    height: 5px;
    margin-top: 60px;
    margin-bottom: 50px;
    margin-left: 20%;
  }
  