* {
  margin: 0;
  padding: 0;
  font-family: "Piazzolla", serif;
}
/* Tittle styling */
.project_title{
text-align: center;
padding-right: 7%;
}
/* Container styling  */
.container { 
  display: flex;
  justify-content: space-between;
  width: 85%;
}
.right{
  padding-right: 18%;
}
/* Image Row styling */
.image_row {
  margin-bottom: 30px;
  text-align: center;
}
/* Images on Image row styling */
.image_row img {
  height: 200px;
  width: auto;
  box-shadow: 0 25px 50px rgb(196, 196, 196);
  transition: transform 0.2s ease-out;
  border-radius: 12px;
}
/* Hover animation */
.image_row img:hover {
  transform: scale(1.1);
}
/*  P tags styling. */
.image_row p {
  margin-bottom: 10px;
}
