* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.banner_row {
  color: white;
}
.background {
  /*This is for getting the picture darker*/
  display: flex;
  position: relative;
  text-align: center;
  color: #fff;
  justify-content: center;
  background: black;
}

.background img {
  /*This is for getting the picture darker*/
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  height: 863px;
  width: 100%;
  opacity: 0.3;
}
.bannerTxt {
  /*Text in the middle styling*/
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  left: 15%;
  top: 45%;
}
.bannerTxt h1 {
  /*Styling of the text*/
  font-size: 80px;
}
.bannerTxt h3 {
  /*Styling of the text*/
  font-size: 30px;
  color: rgb(191, 187, 187);
}
.bannerTxt span {
  /*Styling of the text*/
  font-size: 35px;
  color: white;
}
.social {
  /*Image contaienr padding*/
  padding-top: 100px;
  padding-left: 75px;
}
#social_icon {
  /*Social icons padding.*/
  padding-left: 50px;
}

.social a .img {
  /*image size*/
  width: 50px;
  opacity: 0.9;
}
