* {
  margin: 0;
  padding: 0;
  font-family: "Piazzolla", serif;
}
#aboutMe {
  /*About me container styling*/
  display: flex;
  justify-content: center;
  text-align: left;
  background-color: #2b2b2b;
  height: 500px;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
}
.about_pic {
  /*My picture*/
  float: left;
  width: auto;
  height: 300px;
  border-radius: 100%;
  margin-left: 350px;
}
.about_txt {
  /*Text about section styling*/
  justify-content: space-around;
  width: 45%;
  margin-right: 250px;
}
.h1_home {
  /*Title h1 styling*/
  font-size: 30px;
  color: #fff;
  margin-bottom: 20px;
  margin-top: 10px;
  text-align: center;
  margin-right: 500px;
}

#about {
  /*h3 styling*/
  font-size: 15px;
  color: #7a7a7a;
}

.resume_button {
  /* Resume Download Button*/
  position: relative;
  margin-top: 30px;
  width: 100px;
  background-color: #7a7a7a;
  border-color: #7a7a7a;
  border-radius: 6%;
}

button:hover {
  /*Animation on button hover*/
  color: black;
  cursor: pointer;
  background-color: whitesmoke;
  border-color: whitesmoke;
}
