* {
  margin: 0;
  padding: 0;
  font-family: "Piazzolla", serif;
}
#aboutMe{
  background-color: #2b2b2b;
  color: white;

}
.about_desc{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.about_txt{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-left: 150px;
}

.about_img img{
  width: 300px;
  height: 300px;
  border-radius: 100%;
}


.button {
  box-shadow: inset 0px 1px 3px 0px #454545;
  background-color: #454545;
  border-radius: 5px;
  border: 1px solid #454545;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 11px 23px;
  text-decoration: none;
  list-style: none;
}
.button:hover {
  background-color: rgb(150, 150, 150);
}
.button:active {
  position: relative;
  top: 1px;
}
@media screen and (max-width: 744px) {
 .about_img img{
   height: 200px;
   width: 200px;
 }

 .about_txt{
  padding-left: 50px;
}
}

@media screen and (max-width: 422px) {
  .about_txt h2{
    font-size: 20px;
  }
  .about_txt{
    font-size: 12px;
  }

  .about_img img{
    height: 100px;
    width: 100px;
  }
 
}
